In [ ]:
<aside>
💡 **Question 1**

Given an integer `n`, return *`true` if it is a power of three. Otherwise, return `false`*.

An integer `n` is a power of three, if there exists an integer `x` such that `n == 3x`.

**Example 1:**

</aside>

In [ ]:
def powerof(n):
  if n<3:
    return False

  if n==3:
    return True

  return powerof(n//3)

print(powerof(81))

True

In [ ]:
<aside>
💡 **Question 2**

You have a list `arr` of all integers in the range `[1, n]` sorted in a strictly increasing order. Apply the following algorithm on `arr`:

- Starting from left to right, remove the first number and every other number afterward until you reach the end of the list.
- Repeat the previous step again, but this time from right to left, remove the rightmost number and every other number from the remaining numbers.
- Keep repeating the steps again, alternating left to right and right to left, until a single number remains.

Given the integer `n`, return *the last number that remains in* `arr`.

</aside>

In [ ]:
arr = [1, 2,3, 4,5, 6,7, 8,9]

def leff(arr):
  if (len(arr)==1):
    return arr[0]
    leff(arr.remove(0))

    leff(arr.remove(len(arr)-1))

print(leff(arr))

None

In [ ]:
<aside>
💡 **Question 3**

****Given a set represented as a string, write a recursive code to print all subsets of it. The subsets can be printed in any order.

**Example 1:**

Input :  set = “abc”

Output : { “”, “a”, “b”, “c”, “ab”, “ac”, “bc”, “abc”}

</aside>

In [ ]:
s="abc"

def subset(s,l,r,listt):
  if l>r:
    listt.append(s[l])

  subset(s,l+1,r,listt)
  subset(s,l+1,r,listt)

In [ ]:
Given a string calculate length of the string using recursion.

**Examples:**

In [4]:
def calculate_length(string):
    if string == '':
        return 0
    else:
        return 1 + calculate_length(string[1:])

print(calculate_length("abcdefghijk"))

11

In [ ]:
<aside>
💡 **Question 6**

The [tower of Hanoi](https://en.wikipedia.org/wiki/Tower_of_Hanoi) is a famous puzzle where we have three rods 
and **N** disks. The objective of the puzzle is to move the entire stack to another rod. 
You are given the number of discs **N**. Initially, these discs are in the rod 1. 
You need to print all the steps of discs movement so that all the discs reach the 3rd rod. 
Also, you need to find the total moves.**Note:** The discs are arranged such that the **top disc is numbered 1** 
and the **bottom-most disc is numbered N**. Also, all the discs have **different sizes** and
 a bigger disc **cannot** be put on the top of a smaller disc. Refer the provided link to get a better clarity about the puzzle.

**Example 1:**

</aside>

In [7]:
def tower_of_hanoi(n, source, destination, auxiliary):
    if n > 0:
        # Move n-1 disks from source to auxiliary rod
        tower_of_hanoi(n - 1, source, auxiliary, destination)

        # Move the nth disk from source to destination rod
        print(f"Move disk {n} from {source} to {destination}")

        # Move the n-1 disks from auxiliary to destination rod
        tower_of_hanoi(n - 1, auxiliary, destination, source)


tower_of_hanoi(3, "source", "destination", "auxiliary")

Move disk 1 from source to destination
Move disk 2 from source to auxiliary
Move disk 1 from destination to auxiliary
Move disk 3 from source to destination
Move disk 1 from auxiliary to source
Move disk 2 from auxiliary to destination
Move disk 1 from source to destination

In [ ]:
Ans-7

In [8]:
a="ABC"

answer=""

def permute(s,answer):
    if len(s)==0:
        print(answer)
    
    for i in range(len(s)):
        ch= s[i]
        
        left_str= s[0:i]
        right_str= s[i+1:]
        
        rest= left_str+right_str
        
        permute(rest,answer+ch)

permute(a,answer)

ABC
ACB
BAC
BCA
CAB
CBA