In [ ]:
#Paired t-test

In [1]:
import pandas as pd
import numpy as np
df= pd.read_csv('data.csv')

In [ ]:
df.shape

(100, 3)

In [2]:
df[' Blood Pressure Before (mmHg)'].corr(df[' Blood Pressure After (mmHg)'])

0.9779485966556016

In [3]:
np.sum(df[' Blood Pressure After (mmHg)'])

12836

In [16]:
np.mean(df[' Blood Pressure Before (mmHg)'])

133.91

In [17]:
np.mean(df[' Blood Pressure After (mmHg)'])

128.36

In [12]:
blood_pressure_df=pd.DataFrame({"before":np.array(df[' Blood Pressure Before (mmHg)']),
                         "after":np.array(df[' Blood Pressure After (mmHg)']),
                       "blood_pressure_change":np.array(df[' Blood Pressure After (mmHg)'])-np.array(df[' Blood Pressure Before (mmHg)'])})

In [13]:
blood_pressure_df

    before  after  blood_pressure_change
0      130    120                    -10
1      142    135                     -7
2      120    118                     -2
3      135    127                     -8
4      148    140                     -8
..     ...    ...                    ...
95     136    129                     -7
96     143    137                     -6
97     127    123                     -4
98     139    135                     -4
99     135    130                     -5

[100 rows x 3 columns]

In [18]:
from scipy import stats

_,p_value=stats.ttest_rel(a=df[' Blood Pressure Before (mmHg)'],b=df[' Blood Pressure After (mmHg)'])

In [19]:
p_value

2.817165090364283e-61

In [20]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

 we are rejecting null hypothesis

In [ ]:
Means there is a significance difference between means of two groups