In [ ]:
Write a program to download the data from the link given below and then read the data and convert the into
the proper structure and return it as a CSV file.
Link - https://data.nasa.gov/resource/y77d-th95.json
Note - Write code comments wherever needed for code understanding.

In [ ]:
Excepted Output Data Attributes
● Name of Earth Meteorite - string id - ID of Earth
● Meteorite - int nametype - string recclass - string
● mass - Mass of Earth Meteorite - float year - Year at which Earth
● Meteorite was hit - datetime format reclat - float recclong - float
● point coordinates - list of int

In [28]:
import requests
import pandas as pd

input_url = input().strip()
response = requests.get(input_url)
df= pd.DataFrame(response.json())
df.to_csv("gov.csv")

https://data.nasa.gov/resource/y77d-th95.json

In [4]:
final_df = pd.read_csv("gov.csv")

In [8]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   1000 non-null   int64
 1   name                         1000 non-null   object
 2   id                           1000 non-null   int64
 3   nametype                     1000 non-null   object
 4   recclass                     1000 non-null   object
 5   mass                         972 non-null    float64
 6   fall                         1000 non-null   object
 7   year                         999 non-null    object
 8   reclat                       988 non-null    float64
 9   reclong                      988 non-null    float64
 10  geolocation                  988 non-null    object
 11  :@computed_region_cbhk_fwbd  133 non-null    float64
 12  :@computed_region_nnqa_25f4  134 non-null    float64
dtypes: float64(5), int64(2), object(6)
memory usage: 101.7+ KB

In [23]:
final_df.columns

Index(['Unnamed: 0', 'name', 'id', 'nametype', 'recclass', 'mass', 'fall',
       'year', 'reclat', 'reclong', 'geolocation',
       ':@computed_region_cbhk_fwbd', ':@computed_region_nnqa_25f4'],
      dtype='object')

In [24]:
final_df.drop(labels="Unnamed: 0",axis=1,inplace=True)

In [27]:
for i  in final_df.columns:
    print(i , final_df[i].dtypes)

name object
id int64
nametype object
recclass object
mass float64
fall object
year object
reclat float64
reclong float64
geolocation object
:@computed_region_cbhk_fwbd float64
:@computed_region_nnqa_25f4 float64

In [ ]:
# type of every column along with column name is printed